@keyframes bob{0%{top:0;}50%{top:0.2em;} 100%{top: 0em}}

@font-face {
	font-family: Feels-Fuzzy;
	src: url(../assets/fonts/FeeeelsFuzzyRegular.ttf);
	src: url(../assets/fonts/FeeeelsFuzzyRegular.woff);
	src: url(../assets/fonts/FeeeelsFuzzyRegular.woff2);
 }

 @font-face {
    font-family: 'misterpixel';
    src: url('../assets/fonts/mister_pixel_regular-webfont.woff2') format('woff2'),
         url('../assets/fonts/mister_pixel_regular-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}

@keyframes rainbow_animation {
    0%,100% {
        background-position: 0 0;
    }

    50% {
        background-position: 100% 0;
    }
}


body {
        background: url(../assets/background.jpg);
        background-size: 100vw auto;
        height: 100%;
        text-align: center;
        overflow: hidden;
    }

    h1 {
        font-size: 5em;
    } 

    h2 {
        font-size: 2em;
    }

    h3, p {
        font-size: 1.5em;
    }

    h1, h2, h3, p{
    font-family: Feels-Fuzzy;
    background: linear-gradient(to right, #6666ff, #0099ff , #00ff00, #ff3399, #6666ff);
    -webkit-background-clip: text;
    background-clip: text;
    color: transparent;
    animation: rainbow_animation 6s ease-in-out infinite;
    background-size: 400% 100%;
    }

    .text {
        top: 0px;
        border-style: solid;
        border-width: 4px;
        font-family: 'misterpixel';
        border-image-source: url('data:image/svg+xml;utf8,<?xml version="1.0" encoding="UTF-8" ?><svg version="1.1" width="5" height="5" xmlns="http://www.w3.org/2000/svg"><path d="M2 1 h1 v1 h-1 z M1 2 h1 v1 h-1 z M3 2 h1 v1 h-1 z M2 3 h1 v1 h-1 z" fill="black" /></svg>');
        border-image-repeat: stretch;
        border-image-width: 2;
        border-image-slice: 2;
        border-image-outset: 2;
        display: inline-block;
        margin: 0 20px;
        padding: 20px 20px;
        text-align: center;
        vertical-align: middle;
        user-select: none;
        color: black;
        background-color: white;
    }

    #left, #right {
		top: 0; bottom: 0;
		width: 30px;
		}
		#left { left: 0; background: url(../assets/tiles-l.png); }
		#right { right: 0; background: url(../assets/tiles-r.png); }
		
	#top, #bottom {
		left: 0; right: 0;
		height: 30px;
		}
		#top { top: 0; background: url(../assets/tiles-t.png); }
        #bottom { bottom: 0; background: url(../assets/tiles-b.png);}
        
        #top, #bottom, #left, #right {
            background-size: contain;
            position: fixed;
            }

.tigres {
    display: flex;
    justify-content: center;
    position: absolute;
    top: 0;
    width: 100%;
    height: 95%;
    align-items: flex-end;
}

#tigre-uno {
    background: url(../assets/tiger_one.gif);
}

#tigre-dos {
    background: url(../assets/tiger_two.gif);
}

#tigre-dos:hover {
    background: url(../assets/tiger_two_active.png) !important;
}

#tigre-uno:hover {
    background: url(../assets/Tiger_one_active.png) !important;

}

#tigre-uno, #tigre-dos, #tigre-dos:hover, #tigre-uno:hover  {
    background-size: contain !important;
    background-repeat: no-repeat !important;
    background-position-y: bottom !important;
    background-position-x: center !important;
}

#tigre-dos:hover, #tigre-uno:hover  {
    cursor: pointer;
}
.tigres div {
    height: 500px;
    width: 500px;
    
} 


@media only screen and (max-width: 1100px) {
    h1 {
        font-size: 3.5em;
    } 

    h2 {
        font-size: 1.75em;
    }

    h3, p {
        font-size: 1.25em;
    }

 }

@media only screen and (max-width: 900px) {

    body {
        background: url(../assets/background.jpg);
        background-size: auto 100vh;
        text-align: center;
    }
}


@media only screen and (max-width: 500px) {
h1 {
    font-size: 3em;
} 
h2 {
    font-size: 1.5em;
}

h3, p {
    font-size: 1em;
}

.tigres div {
    height: 250px;
    width: 250px;
    
} 

}